<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/public/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <title>Podcast Reader</title>
  </head>
    <body>
      
{% block main %}
{% endblock main %}

<footer class="footer">
<div class="footer-content">
<span class="footer-brand">Podcast Reader</span>
<span class="footer-made-with">Copyright 2023</a></span>
</div>
</footer>
</body>
</html>