<!-- templates/index.html -->

{% extends "base.html" %}

{% block main %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" id='hideme' role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% if user %}
    <div class="header-div">
        <header class="header">
        <div class="header-content">
            <a href="http://localhost:8080/logout" class="btn tablink">Logout</a>
        </div>
        </footer>
        </div>
    <div class="hero">
    <div class="hero-content">

    <h1>Welcome back, {{user}}</h1>

<p>Create ebooks from podcasts on demand, or browse an extensive collection of professionally edited podcast ebooks. Start reading podcasts now!</p>
<a href='#main-content'>
<button class="create-ebook-button">Create from URL</button>
</a>
<a href="http://localhost:8080/shop" >
<button class="shop-button" type="submit">Shop</button>
</a>
</div>
</div>
<div class="parent">
<div class="main-content">
<h1 class="top-headline">Create an ebook from your favourite podcast</h1>
<div class="main-content" id="main-content">
<p>Provide a YouTube link and you will receive a Kindle-formatted ebook (.epub) to your email after some minutes.</p>
<form hx-post="/submit" hx-swap="outerHTML" hx-target="#main-content">
<input
type="text"
name="url"
placeholder="URL link to a YouTube video you'd like to transcribe..."
></input>
<input
type="email"
name="email"
placeholder="Which email do you want the eBook be sent to?"
/>
<button type="submit">Generate Ebook!</button>
</form>
<p>Free previews come unedited with basic transcription. If you would like higher fidelity transcriptions with professional editing, please check our paid options.</p>
</div>

</div>

{% else %}

<div class="header-div">
    <a href="http://localhost:8080/login" class="btn tablink">Login</a>
</div>
<div class="hero">
<div class="hero-content">

<h1>Discover your favourite podcasts on Kindle</h1>

<p>Create ebooks from podcasts on demand, or browse an extensive collection of professionally edited podcast ebooks. Start reading podcasts now!</p>
<a href='http://localhost:8080/login'>
<button class="login-button hvr-sweep-to-right">Login to begin</button>
</a>
<br><br>
<a href='http://localhost:8080/register'>
<button class="register-button">Or register for free</button>
</a>
</div>
</div>

{% endif %}
{% endblock main %}